<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CertificateServicesSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="CertificateServicesSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://tlclientdev.quovadisglobal.com/ws/CertificateServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="CertificateServicesSoap"
                contract="CertificateServicesSoap" name="CertificateServicesSoap" />
            <endpoint address="https://tlclientdev.quovadisglobal.com/ws/CertificateServices.asmx"
                binding="customBinding" bindingConfiguration="CertificateServicesSoap12"
                contract="CertificateServicesSoap" name="CertificateServicesSoap12" />
        </client>
    </system.serviceModel>
</configuration>